apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: app-alerts
  namespace: monitoring
  labels:
    release: prometheus
spec:
  groups:
  - name: app-alerts
    rules:
    - alert: ApplicationDown
      expr: up{job="python-app"} == 0
      for: 1m
      labels:
        severity: critical
      annotations:
        summary: "Application is down"

    - alert: HighErrorRate
      expr: |
        rate(http_requests_total{status=~"5.."}[5m])
        / rate(http_requests_total[5m]) > 0.05
      for: 3m
      labels:
        severity: critical
      annotations:
        summary: "High 5xx error rate"

    - alert: HighRequestLatency
      expr: |
        histogram_quantile(
          0.95,
          sum(rate(http_request_duration_seconds_bucket[5m]))
          by (le)
        ) > 1
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "High request latency (>1s)"
