{{- if and .Values.prometheusRules.enabled .Values.node.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "fullname" . }}-node-alerts
  namespace: monitoring
  labels:
    release: prometheus
spec:
  groups:
  - name: node.rules
    rules:
    {{- range .Values.node.alerts }}
      - alert: {{ .name }}
        expr: {{ .expr | quote }}
        for: {{ .for }}
        labels:
          severity: {{ .severity }}
        annotations:
          summary: {{ .summary | quote }}
          description: {{ .description | quote }}
          impact: {{ .impact | quote }}
          action: {{ .action | quote }}
    {{- end }}
{{- end }}
