{{- if and .Values.prometheusRules.enabled .Values.prometheusRules.pod.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "fullname" . }}-pod-alerts
  namespace: monitoring
  labels:
    {{ include "commonLabels" . | nindent 4 }}
spec:
  groups:
    - name: pod.rules
      rules:
       {{- range .Values.prometheusRules.pod.alerts }}
        - alert: {{ .name }}
          expr: {{ .expr | quote }}
          for: {{ .for }}
          labels:
            severity: {{ .severity }}
          annotations:
            summary: {{ .summary | quote }}
            description: {{ .description | quote }}
            impact: {{ .impact | quote }}
            action: {{ .action | quote }}
      {{- end }}
{{- end }}

