apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: slack-config
  namespace: monitoring
spec:
  route:
    receiver: slack
  receivers:
  - name: slack
    slack_configs:
      - api_url:
          name: alertmanager-slack
          key: slack-webhook-url
        channel: "#alerts"
        send_resolved: true
