{{- if .Values.alertmanager.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: {{ include "fullname" . }}-alertmanager
  namespace: monitoring
spec:
  replicas: 1
  version: v0.25.0
  serviceAccountName: {{ include "fullname" . }}-alertmanager
  alertmanagerConfig:
    {{- with .Values.alertmanager.config }}
    global:
      resolve_timeout: {{ .global.resolve_timeout | quote }}
    route:
      group_by:
        {{- range .route.group_by }}
        - {{ . }}
        {{- end }}
      group_wait: {{ .route.group_wait | quote }}
      group_interval: {{ .route.group_interval | quote }}
      repeat_interval: {{ .route.repeat_interval | quote }}
      receiver: {{ .route.receiver | quote }}
    receivers:
      {{- range .receivers }}
      - name: {{ .name | quote }}
        {{- if .slack_configs }}
        slack_configs:
          {{- range .slack_configs }}
          - slack_webhook_url: {{ .slack-webhook-url | quote }}
            channel: {{ .channel | quote }}
            send_resolved: {{ .send_resolved }}
            title: "{{ .title }}"
            text: |
              *Severity:* {{ .CommonLabels.severity }}
              *Impact:* {{ .CommonAnnotations.impact }}
              *Action:* {{ .CommonAnnotations.action }}
          {{- end }}
        {{- end }}
      {{- end }}
    {{- end }}
{{- end }}
