# clustersecretstore.yaml
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: aws-secrets
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1  
      auth:
        jwt:
          serviceAccountRef:
            name: external-secrets
            namespace: external-secrets-system