apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: alertmanager-slack
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  secretStoreRef:
    name: aws-secrets
    kind: ClusterSecretStore
  target:
    name: alertmanager-slack
  data:
  - secretKey: slack-webhook-url
    remoteRef:
      key: prod/alertmanager/slack
