apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: slack-config
  namespace: monitoring
  labels:
    alertmanager: main
spec:
  route:
    receiver: slack
    groupBy: ["alertname", "namespace"]
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 3h
  receivers:
  - name: slack
    slackConfigs:
    - apiURL:
        key: slack-webhook-url
        name: alertmanager-slack
      channel: "#alerts"
      sendResolved: true
      