apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: slack-config
  namespace: monitoring
  labels:
    alertmanager: main
    monitoring: "true"
spec:
  route:
    receiver: slack
    group_by: ["alertname", "namespace"]
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 3h
  receivers:
  - name: slack
    slack_configs:
    - api_url:
        name: alertmanager-slack
        key: slack-webhook-url
      channel: "#alerts"
      send_resolved: true
