apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: alertmanager
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: alertmanager
  namespaceSelector:
    matchNames:
      - monitoring
      - app
  endpoints:
    - port: web
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
      honorLabels: true
