apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prod
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
      - prod
  selector:
    matchLabels:
      app: prod
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
