name: prod
replicas: 2
image:
  repository: prod
  tag: latest
  digest: ""
containerPort: 5002
service:
  type: LoadBalancer
  port: 80
  targetPort: 5002
resources: {
  limits: {
    cpu: 250m,
    memory: 256Mi
  },
  requests: {
    cpu: 100m,
    memory: 128Mi
  }
}
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70