name: prod
replicas: 2
image:
  repository: 182889640030.dkr.ecr.us-east-1.amazonaws.com/ludacris-repo
  tag: latest
  digest: ""
containerPort: 5000
service:
  type: LoadBalancer
  port: 80
  targetPort: 5000
resources: {
  limits: {
    cpu: 250m,
    memory: 256Mi
  },
  requests: {
    cpu: 100m,
    memory: 128Mi
  }
}
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70