
name: CI/CD to EKS

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  EKS_CLUSTER: ludacris-cluster
  ECR_REPO: ludacris-repo
  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      #  Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v4

      #  Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      #  Login to ECR
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      #  Build and push Profile App image
      - name: Build & Push Profile App Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/profile-helm:$IMAGE_TAG ./profile
          docker push $ECR_REGISTRY/profile-helm:$IMAGE_TAG

      #  Update kubeconfig for EKS
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region $AWS_REGION \
            --name $EKS_CLUSTER
